.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.margin-top-sml {
    margin-top: 1.5rem;
}
.margin-top-mdm {
    margin-top: 3rem;
}
.margin-top-big {
    margin-top: 5rem;
}
.margin-top-vbig {
    margin-top: 10rem;
}

.margin-btm-sml {
    margin-bottom: 1.5rem;
}
.margin-btm-mdm {
    margin-bottom: 3rem;
}
.margin-btm-big {
    margin-bottom: 5rem;
}
.margin-btm-vbig {
    margin-bottom: 8rem;
}

.flex-reverse {
    flex-direction: row-reverse;
}
